
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold; 
    width: 10%;
}

p {
  border: 1px solid black;
  position: absolute;
  right: 0px;
  top:-16px;
  width: 100px;
  height: 50px;
}

#p1{
    background-color: rosybrown;
    font-weight: bold;
    text-align: center;
}

#p2 {
    background-color: olive;
    font-weight: bold;
    text-align: center;
}

#p3 {
    background-color: peru;
    font-weight: bold;
    text-align: center;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/*
div.row > div div:first-child {
    color: yellowgreen;
    position: relative;
    top: 2px;
    left: 80%;
}*/
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 3px solid dimgray;
    padding:10px;
    margin:1.66%;
    position:relative;
    background-color: skyblue;
  }
  .col-lg-1 {
    width: 7.5%;
  }
  .col-lg-2 {
    width: 15%;
  }
  .col-lg-3 {
    width: 22.5%;
  }
  .col-lg-4 {
    width: 30%;
  }
  .col-lg-5 {
    width: 37.5%;
  }
  .col-lg-6 {
    width: 45%;
  }
  .col-lg-7 {
    width: 52.5%;
  }
  .col-lg-8 {
    width: 60%;
  }
  .col-lg-9 {
    width: 67.5%;
  }
  .col-lg-10 {
    width: 75%;
  }
  .col-lg-11 {
    width: 82.5%;
  }
  .col-lg-12 {
    width: 90%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 3px solid dimgray;
    padding:10px;
    margin: 1.66%;
    position: relative;
    background-color: skyblue;
  }
  .col-md-1 {
    width: 7.5%;
  }
  .col-md-2 {
    width: 15%;
  }
  .col-md-3 {
    width: 22.5%;
  }
  .col-md-4 {
    width: 30%;
  }
  .col-md-5 {
    width: 37.5%;
  }
  .col-md-6 {
    width: 45%;
  }
  .col-md-7 {
    width: 52.5%;
  }
  .col-md-8 {
    width: 60%;
  }
  .col-md-9 {
    width: 67.5%;
  }
  .col-md-10 {
    width: 75%;
  }
  .col-md-11 {
    width: 82.5%;
  }
  .col-md-12 {
    width: 93%;
  }
}

@media (max-width: 767px) {
    
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: 3px solid dimgray;
    padding: 10px;
    margin: 1.66%;
    position: relative;
    background-color: skyblue;
  }
  
  .col-sm-1 {
    width: 7.5%;
  }
  .col-sm-2 {
    width: 15%;
  }
  .col-sm-3 {
    width: 22.5%;
  }
  .col-sm-4 {
    width: 30%;
  }
  .col-sm-5 {
    width: 37.5%;
  }
  .col-sm-6 {
    width: 45%;
  }
  .col-sm-7 {
    width: 52.5%;
  }
  .col-sm-8 {
    width: 60%;
  }
  .col-sm-9 {
    width: 67.5%;
  }
  .col-sm-10 {
    width: 75%;
  }
  .col-sm-11 {
    width: 82.5%;
  }
  .col-sm-12 {
    width: 90%;
  }
  
}